#tablePokemon{
    color: aliceblue;
    padding: 0px;
    border-collapse: collapse;
    min-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.colunsTitle{
    font-size: 20px;
    margin: 2%;
    border: 1px;
    border-style: solid;
    border-color: white;
    padding: 1%;
    font-family: sans-serif;
    background-color: black;
    margin-bottom: 5%;
    text-align: left;
    width: 15%;
}

.rowTablePokemonInfo{
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        font-size: 20px;
        font-family: Arial;
        padding-left: 1%;
}

.rowTablePokemonInfoRemove{
    background-color: rgb(0, 255, 0);
    transition: 1000ms;
    opacity: 0;
}